footer {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--default-spacing);
    padding: calc(var(--default-spacing)*2);
    background-image: url("images/web/msharp-logo-transparent10.png");
    background-repeat: repeat;
    background-size: 200px;
    width: 100%;
    max-width: 1440px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

footer img {
    fill: var(--color-text);
    width: 30px;
    height: 30px;
}

footer .name {
    font-size: 1rem;
}

footer .contact-item {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   border: none;
}
