.services-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: var(--default-spacing);
}

.service-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-spacing)*2);
    padding: calc(var(--default-spacing)*2);
}

.service {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    gap: calc(var(--default-spacing)*2);
    padding: var(--default-spacing);
    border-radius: var(--default-spacing);
    border: solid 1px var(--color-text);
}

.services-content .service-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(var(--default-spacing)*2);
}

.services-content .service-body {
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-spacing)*2);
}

.services-content .services-img {
    width: 350px;
    min-width: 350px;
    height: 350px;
    border-radius: var(--default-spacing);
    object-fit: cover;
    overflow: hidden;
}

.services-content .note {
    color: var(--color-text-maroon);
}

.services-content .service-prices {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-spacing);
}

.services-content .service-price {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: var(--default-spacing);
    padding: var(--default-spacing);
    border: solid 1px var(--color-text);
    border-radius: var(--default-spacing);
    background-color: var(--color-bg-white-40);
}


@media (max-width: 820px) {
    .services-content .services-img {
        min-width: 200px;
    }
}

@media (max-width: 670px) {
    .service-container {
        padding: 0;
    }

    .service {
        flex-direction: column;
    }
    
    .services-content .services-img {
        width: 100%;
        min-width: 0;
    }
}

@media (max-width: 460px) {
    /* .container {
        width: 100%;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .container-texts {
        width: 100%;
    }
    .container-img {
       width: auto;
       height: auto;
    } */
}